#right{
  float: right;
}

.f-right{
  display: inline;
}

.top-bar{
  display: inline;
  margin-left: 60px;
  margin-bottom: 20px;
  color: rgb(32, 104, 6);
}

#user-table{
  width: 20%;
}

table, th, td {
    border: 1px solid black;
}

#index-recipes-list{
  overflow: scroll;
  height: 400px;
  width: 40%;
  border: solid rgb(32, 104, 6) 5px;
  background-color: tan;
  margin-top: 30px;
  margin-left: 30px;
}

#instruction-button{
  display: "none";
}

body{
  background-color: orange;
}

.home-list{
  padding: 10px;
  font-weight: bold;
}
