#right{
  float: right;
}

.f-right{
  display: inline;
}

.top-bar{
  display: inline;
}

#user-table{
  width: 20%;
}

table, th, td {
    border: 1px solid black;
}

#index-recipes-list{
  overflow: scroll;
  height: 400px;
  width: 40%;
  border: solid black 2px;
}

#instruction-button{
  display: none;
}
