<h1>Contributors:</h1>
<table id="user-table">
  <tr><th>Name</th><th>Recipes</th></tr>
  <%@users.each do |user|%>
    <tr><td><a href="/user/<%=user.id%>"><%=user.name%></a></td><td><%=user.recipes.count%></td></tr>
  <%end%>
</table>
