<h2>Share your recipe with us!</h2>
<div id="new-recipe">
  <div id="title-form">
    <form action="/recipe/new" method="post">
      <input type="text" placeholder="Title" name="title" /><br><br>
      <input type="submit" value="Create" />
    </form>
  </div>

  <div id="ingredient-form">

  </div>

  <div id="instruction-form">
    <form id="instruction-button" action="" method="post">
      <input type="submit" value="Add Instructions" />
    </form>
  </div>
</div>



