<div id="index-recipes-list">
  <h3>New Recipes:</h3>
  <%recipe_list.each do |recipe| %>
    <dt>
      <li class="home-list"><a href="/recipe/<%=recipe.id%>"><%=recipe.title%></a></li>
      <dd>By <a href="/user/<%=recipe.user.id%>"><%=recipe.user.name%></a></dd>
    </dt>
  <%end%>
</div>
<br><br>

<a style="margin-left:30px;" href="/recipe/new">Create Recipe</a>
