<div id="index-recipes-list">
  <h3>New Recipes:</h3>
  <%@recipes.each do |recipe| %>
    <%= erb :_recipe locals: {recipe: recipe}  %>
    <%# (common in Rails) erb :_recipe object: recipe  %>
  <%end%>
</div>
<br><br>

<a style="margin-left:30px;" href="/recipe/new">Create Recipe</a>
