  <div id="submit-ingredient">
    <h3>Add ingredient to supply</h3>
    <form action="/ingredient/new" method="post">
      <input type="text" placeholder="name" name="name" /><br><br>
      <input type="submit" value="Create Ingredient" />
    </form>
  </div>
